<!DOCTYPE html>
{% load static %}
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Acadêmica</title>
    <link rel="stylesheet" href="{% static 'css/inicial.css' %}">
</head>
<body>

    <div>
        <h1>
            Bem-vindo(a) à Agenda Acadêmica!
        </h1>
        <p>
            Organize provas, atividades, trabalhos e compromissos
        acadêmicos em um único lugar.
        </p>
        
        <div>
            <a href="{% url 'login' %}">
                Entrar
            </a>
            <a href="{% url 'cadastrar' %}">
                Criar Conta
            </a>
        </div>
    </div>

</body>
</html>